.holder{
  height: 376px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}
.item{
  width: 142px;
  height: 130px;
  background-color: aqua;
  border: 2px solid purple;
}